# A glimpse into TA...

### Let's check out our data and clean it up

In [37]:
import pandas
pandas.set_option("display.max_colwidth", 50)

In [41]:
posts = pandas.read_csv('../data/posts_v2_2.csv', names=['post_id', 'post_title', 'num_comments', 'post_content', 'post_url'])
posts.head()

,post_id,post_title,num_comments,post_content,post_url
0,10p0glu,AITA for saying my mother is insensitive for c...,1054,"I’m 21F, recently welcomed my own child into t...",https://www.reddit.com/r/AmItheAsshole/comment...
1,10p55w6,AITA for having my adult daughter pay half of ...,495,I [52F] am having my adult daughter [25F] pay ...,https://www.reddit.com/r/AmItheAsshole/comment...
2,10pgsmn,AITA for having an 18+ house?,472,My (32f) and my husband (30m) are childfree by...,https://www.reddit.com/r/AmItheAsshole/comment...
3,10ovk6p,AITA for refusing to take a DNA test to confir...,1366,So my (27M) fiancé (26F) is adopted. She was a...,https://www.reddit.com/r/AmItheAsshole/comment...
4,10p9z0a,AITA for telling my soon to be SIL that I didn...,109,My brother is getting married in May. My broth...,https://www.reddit.com/r/AmItheAsshole/comment...

In [51]:
posts.drop_duplicates(keep = 'first', inplace=True)
post_row_count = posts.shape[0] # returns nb of lines
print("unique row number:", post_row_count)

unique row number: 3144

In [50]:

comments = pandas.read_csv('../data/comments_v2_2.csv', names=['post_id', 'comment_id', 'comment_score', 'comment_content', 'comment_permalink'])
comments.head()

,post_id,comment_id,comment_score,comment_content,comment_permalink
0,t3_10p0glu,j6hpif3,9787,YTA &gt;I know it wasn’t her job to forgive h...,/r/AmItheAsshole/comments/10p0glu/aita_for_say...
1,t3_10p0glu,j6hpzqy,3137,"YTA. Your father abused her. Also, who are you...",/r/AmItheAsshole/comments/10p0glu/aita_for_say...
2,t3_10p0glu,j6hpkvv,1972,YTA. Your dad was abusive to your mother. Of...,/r/AmItheAsshole/comments/10p0glu/aita_for_say...
3,t3_10p0glu,j6hqzyp,1295,Yta so you acknowledge that your dad was abusi...,/r/AmItheAsshole/comments/10p0glu/aita_for_say...
4,t3_10p0glu,j6hploi,585,YTA Your dad sounded like an AH. It's unders...,/r/AmItheAsshole/comments/10p0glu/aita_for_say...

In [52]:
comments.drop_duplicates(keep = 'first', inplace=True)
comment_row_count = comments.shape[0] # returns nb of lines
print("unique row number:", comment_row_count)

unique row number: 66903

In [53]:
print("average comment per post:", comment_row_count / post_row_count)

average comment per post: 21.279580152671755